<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Role</title>
</head>
<body>
<h1>Edit Role</h1>
<form th:action="@{/roles/edit/{id}(id=${role.id})}" th:object="${role}" method="post">
    <input type="hidden" th:field="*{id}" />
    <div>
        <label>Name:</label>
        <input type="text" th:field="*{name}" />
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
<a th:href="@{/roles}">Back to Role List</a>
</body>
</html>
